@import "variables";

// base & layout
@import "base";
@import "breakpoints";

.myClients {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  background-color: #ffffff;
  @include md {
    min-height: 40vh;
    height: 40vh;
  }
}

.one {
  display: none;
  height: 100%;
  @include lg {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
  }

  &__photo {
    background-image: url(../img/LeftUp.jpg);
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    border: 1px solid red;
    @include xl {
      height: 50%;
    }
  }
  &__header {
    font-size: 30px;
    color: white;
    padding-bottom: 20px;
    font-weight: 600;
    font-variant: small-caps;
    text-shadow: 2px 2px 4px black;
    @include lg {
      display: none;
    }
    @include xl {
      display: block;
    }
  }

  &__text {
    background-color: $dark-green;
    height: 50%;
    // width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 20px;
    @include lg {
      display: none;
    }
    @include xl {
      display: flex;
      text-align: center;
      font-size: 1.5rem;
    }
  }
}
.two {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  @include lg {
    width: 60%;
    height: 100%;
  }
  &__header {
    // font-variant: small-caps;
    font-size: 2rem;
    margin: 20px;
    color: $dark-green;
  }
  &__text {
    padding: 20px;
    font-size: 1rem;
    color: $small-font;

    @include lg {
      font-size: 1.3rem;
    }
  }
}
