@import "variables";

// base & layout
@import "base";

.aboutMe {
  display: flex;
  margin: 10px auto;
  height: 500px;
  width: 1200px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 400px;
    background-color: #ffffff;
    font-size: 16px;
    text-align: center;
    &--header {
      font-variant: small-caps;
    }
    &--text {
      padding: 20px;
    }
  }
  &__photo {
    display: flex;
    height: auto;
    width: 800px;
  }
}
