@import "variables";

// base & layout
@import "base";

footer {
  background-color: #000;
  color: aliceblue;
  padding: 20px;
  font-size: 21px;
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &__infos {
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: 1px solid white;
    border-radius: 30px;
    padding: 30px;
    margin-top: 20px;
  }
  &__phone {
    display: flex;
    padding-bottom: 20px;
    margin: auto;
  }
  &__copy {
    margin-bottom: 20px;
  }
  footerAdress {
    display: flex;
    padding-top: 20px;
  }
}
