.nav {
  width: 70vw;
  height: 60vh;
  background-color: #124a2f;
  position: fixed;
  top: 0;
  right: -370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* align-items: flex-end; */
  border-bottom-left-radius: 100%;
  -webkit-transition: right 0.7s cubic-bezier(1, 0, 0, 1);
  transition: right 0.7s cubic-bezier(1, 0, 0, 1);
}

@media (min-width: 500px) {
  .nav {
    width: 50vw;
  }
}

@media (min-width: 576px) {
  .nav {
    width: 40vw;
  }
}

@media (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: fixed;
    width: 100vw;
    height: 10vh;
    right: 0;
    background-color: transparent;
    margin: 0;
    text-align: center;
    z-index: 999;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}

.nav__hamburger {
  width: 35px;
  height: 30px;
  position: fixed;
  top: 10px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 768px) {
  .nav__hamburger {
    display: none;
  }
}

.nav__hamburger--line {
  width: 100%;
  height: 3px;
  background-color: chocolate;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  z-index: 2;
}

.nav__list {
  margin: 40px 5px 0 0;
  text-align: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    background-color: black;
  }
}

.nav__list--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 0px;
  display: inline-block;
  font-size: 1rem;
  font-family: "Syne Mono", monospace;
  text-transform: uppercase;
  text-decoration: none;
  color: whitesmoke;
  padding: 4px 6px;
  margin: 5px 5px;
  letter-spacing: 2px;
}

@media (min-width: 500px) {
  .nav__list--link {
    font-size: 1.3rem;
  }
}

@media (min-width: 576px) {
  .nav__list--link {
    font-size: 1.4rem;
  }
}

@media (min-width: 768px) {
  .nav__list--link {
    display: inline-block;
    font-size: 1.5rem;
    font-family: "Syne Mono", monospace;
    text-transform: uppercase;
    text-decoration: none;
    color: whitesmoke;
    padding: 4px 6px;
    margin: 20px 5px;
    letter-spacing: 2px;
  }
}

.nav__list--link:hover {
  color: #acda06;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__list--contact:hover {
  background-color: #124a2f;
  border-color: #124a2f;
  color: #acda06;
}

.nav__bgr {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.change {
  right: 0;
}

.change .line_1 {
  -webkit-transform: rotateZ(-405deg) translate(-8px, 6px);
          transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line_2 {
  opacity: 0;
}

.change .line_3 {
  -webkit-transform: rotateZ(405deg) translate(-8px, -6px);
          transform: rotateZ(405deg) translate(-8px, -6px);
}

.aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #124a2f;
  display: flex;
  width: 100%;
}

@media (min-width: 768px) {
  .aboutMe {
    margin: 20px 0;
    height: 40vh;
  }
}

.aboutMe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background-color: #ffffff;
  font-size: 1rem;
  text-align: center;
}

@media (min-width: 992px) {
  .aboutMe__container {
    font-size: 16px;
    width: 50%;
  }
}

.aboutMe__container--header {
  font-size: 2rem;
  margin: 20px;
}

.aboutMe__container--text {
  padding: 20px;
  color: #181818;
}

.aboutMe__photo {
  display: none;
}

@media (min-width: 992px) {
  .aboutMe__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: 50%;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  color: red;
  background-color: #ffffff;
}

@media (min-width: 992px) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin: 20px 0;
  }
}

.contact__photo {
  display: none;
}

@media (min-width: 992px) {
  .contact__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 60vh;
    background-image: url(../img/contactForm.jpg);
    background-size: cover;
  }
}

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
}

@media (min-width: 992px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 100%;
  }
}

.form__container {
  width: 100%;
}

@media (min-width: 768px) {
  .form__container {
    height: 60vh;
  }
}

.form__header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px auto;
  font-size: 2rem;
  font-weight: 600;
  color: #124a2f;
}

.form__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 90%;
}

@media (min-width: 500px) {
  .form__labels {
    width: 60%;
  }
}

@media (min-width: 576px) {
  .form__labels {
    width: 65%;
  }
}

@media (min-width: 992px) {
  .form__labels {
    width: 70%;
  }
}

.form__input {
  border: 1px solid #f5debd;
  border-radius: 30px;
  width: 100%;
  height: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.form__input--statusN, .form__input--statusE {
  font-size: 1rem;
  width: 240px;
  height: 30px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  background-color: #ae0b0b;
  -webkit-animation: notValid 3s infinite;
          animation: notValid 3s infinite;
  color: white;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.message__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  width: 90%;
}

@media (min-width: 500px) {
  .message__label {
    width: 60%;
  }
}

@media (min-width: 576px) {
  .message__label {
    width: 65%;
  }
}

@media (min-width: 992px) {
  .message__label {
    width: 70%;
  }
}

.message__textarea {
  text-align: center;
  border: 1px solid #f5debd;
  border-radius: 30px;
  margin: 10px auto;
  height: 10vh;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

.message__btn {
  display: block;
  border-radius: 30px;
  margin: 20px auto;
  width: 30%;
  height: 30px;
  background-color: #124a2f;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

@media (min-width: 576px) {
  .message__btn {
    width: 20%;
  }
}

@media (min-width: 768px) {
  .message__btn {
    width: 20%;
  }
}

@-webkit-keyframes notValid {
  0% {
    background-color: red;
  }
  50% {
    background-color: white;
  }
  /* 90% {background-color: white;} */
  100% {
    background-color: red;
  }
}

@keyframes notValid {
  0% {
    background-color: red;
  }
  50% {
    background-color: white;
  }
  /* 90% {background-color: white;} */
  100% {
    background-color: red;
  }
}

.hidden {
  visibility: hidden;
}

.myClients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #ffffff;
}

@media (min-width: 992px) {
  .myClients {
    height: 40vh;
  }
}

.one {
  display: none;
}

@media (min-width: 992px) {
  .one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40%;
    height: 100%;
  }
}

.one__photo {
  background-image: url(../img/LeftUp.jpg);
  background-size: cover;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

@media (min-width: 1200px) {
  .one__photo {
    height: 50%;
  }
}

.one__header {
  font-size: 30px;
  color: white;
  padding-bottom: 20px;
  font-weight: 600;
  font-variant: small-caps;
  text-shadow: 2px 2px 4px black;
}

@media (min-width: 992px) {
  .one__header {
    display: none;
  }
}

@media (min-width: 1200px) {
  .one__header {
    display: block;
  }
}

.one__text {
  background-color: #124a2f;
  height: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .one__text {
    display: none;
  }
}

@media (min-width: 1200px) {
  .one__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    font-size: 1.5rem;
  }
}

.two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media (min-width: 992px) {
  .two {
    width: 60%;
    height: 100%;
  }
}

.two__header {
  font-size: 2rem;
  margin: 20px;
  color: #124a2f;
}

.two__text {
  padding: 20px;
  font-size: 1rem;
  color: #181818;
}

@media (min-width: 992px) {
  .two__text {
    font-size: 1.3rem;
  }
}

.footer {
  background-color: black;
  color: aliceblue;
  padding: 20px 0 0;
  font-size: 1rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__phone {
  padding-bottom: 20px;
}

.footer__address {
  font-size: 10px;
}

.footer__copy {
  padding: 20px;
}

.opinion {
  background-color: white;
  width: 100%;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .opinion {
    height: 40vh;
  }
}

.opinion__header {
  font-size: 2rem;
  margin: 20px;
  color: #124a2f;
}

.opinion__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 0 30px;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px;
  height: 100%;
}

.slide__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.slide__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer {
  width: 100%;
}

@media (min-width: 992px) {
  .offer {
    height: 40vh;
    margin: 20px 0;
  }
}

.offer__photo {
  display: none;
}

@media (min-width: 992px) {
  .offer__photo {
    background-image: url(../img/offerPhoto.jpg);
    background-size: cover;
    height: 40vh;
    border: 1px solid red;
    width: 50%;
    z-index: 999;
  }
}

.offer__container {
  height: 100%;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .offer__container {
    width: 50%;
  }
}

.offer__container--header {
  font-size: 2rem;
  margin: 20px;
  color: #124a2f;
}

.offer__container--text {
  font-size: 1rem;
  padding: 20px;
}

@media (min-width: 992px) {
  .offer__container--text {
    font-size: 1.3rem;
  }
}

.offer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  vertical-align: middle;
  border-radius: 30px;
  margin-bottom: 20px;
  width: 30%;
  height: 30px;
  line-height: 30px;
  background-color: #124a2f;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  background-color: #eef0d5;
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

@media (min-width: 768px) {
  .wrapper {
    width: 80vw;
  }
}

@media (min-width: 992px) {
  .wrapper {
    width: 70vw;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 60vw;
  }
}

.header {
  background-image: url(../img/kwiaty1.jpg);
  height: 30vh;
  width: 100%;
  background-size: cover;
}

@media (min-width: 768px) {
  .header {
    height: 30vh;
  }
}

.header__none {
  display: none;
}

.header__catchword {
  font-size: 2rem;
  color: whitesmoke;
  text-align: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.324);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-wrap: wrap; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: 2px 2px 3px black;
}

@media (min-width: 768px) {
  .header__catchword {
    line-height: 20vh;
    font-size: 3rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.map {
  height: 40vh;
  width: 100%;
}

@media (min-width: 992px) {
  .map {
    margin: 20px 0;
    height: 60vh;
  }
}

.map__popup {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
}

.map__popup:after {
  position: absolute;
  z-index: 1;
  display: block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  content: "";
  top: 50%;
  right: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-left-width: 0;
  border-right-color: rgba(0, 0, 0, 0.8);
}
/*# sourceMappingURL=index.css.map */