@import "variables";

// base & layout
@import "base";

.myClients {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  height: 500px;
  width: 1200px;
  background-color: #ffffff;
  &__left {
    display: flex;
    flex-direction: column;
    height: 500px;
    &--up {
      background-image: url(/img/LeftUp.jpg);
      background-size: cover;
      height: 50%;
      width: 400px;
      text-align: center;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      &--header {
        font-size: 30px;
        color: white;
        padding-bottom: 20px;
        font-weight: 600;
        font-variant: small-caps;
        text-shadow: 2px 2px 4px black;
      }
    }
    &--down {
      background-color: $dark-green;
      height: 50%;
      width: 360px;
      font-size: 30px;
      color: white;
      display: flex;
      text-align: center;
      align-items: center;
      padding: 20px;
    }
  }
  &__right {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    &--header {
      font-variant: small-caps;
    }
    &--text {
      padding: 20px;
    }
  }
}

.offer {
  display: flex;
  width: 1200px;
  height: 500px;
  margin: 10px auto;

  &__photo {
    background-image: url(/img/offerPhoto.jpg);
    background-size: cover;
    height: 100%;
    width: 800px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 400px;
    background-color: #ffffff;
    font-size: 16px;
    text-align: center;

    &--header {
      font-variant: small-caps;
      font-size: 30px;
    }
    &--text {
      font-size: 20px;
      padding: 20px;
    }
  }
  &__button {
    display: block;
    border-radius: 30px;
    margin: 20px, auto;
    width: 50%;
    height: 50px;
    background-color: $dark-green;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding: auto, 15px;
  }
}
