* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	font-family: 'Merienda', cursive;
}

.nav {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	width: 100%;
	background-color: transparent;
	margin: 0;
	text-align: center;
	z-index: 999;
	transition: all 0.2s ease;
}

.nav__link {
	display: inline-block;
	font-size: 1.2rem;
	font-family: 'Syne Mono', monospace;
	text-transform: uppercase;
	text-decoration: none;
	color: whitesmoke;
	padding: 2px;
	margin: 20px 5px;
	letter-spacing: 2px;
}

.nav__link--contact {
	font-size: 1.4rem;
	border: 1px solid #999393;
	padding: 2px 40px;
	margin: 20px 60px 20px 5px;
}

.nav__link:hover {
	border-bottom: 1px solid rgb(172, 218, 6);
	color: rgb(172, 218, 6);
	transition: 0.3s;
}

.nav__link--contact:hover {
	background-color: rgb(16, 105, 4);
	border-color: rgb(16, 105, 4);
	color: rgb(172, 218, 6);
}

.nav__bgr {
	background-color: #000;
	box-shadow: 0 10px 6px -6px black;
}

header {
	background-image: url(./img/kwiaty1.jpg);
	height: 40vh;
	background-size: cover;
}

header h1 {
	font-size: 4rem;
	color: whitesmoke;
	text-align: center;
	line-height: 40vh;
	background-color: rgba(0, 0, 0, 50%);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.none {
	display: none;

}

main {
	margin: auto;

}

.description {
	font-size: 2.2rem;
	text-align: center;
	padding: 15px 30px 40px;
	margin: 0;
	font-family: 'Merienda', cursive;
	letter-spacing: 2px;
	background-color: rgb(218, 183, 30);
	line-height: 200%;
}

.invitation {
	font-size: 2.2rem;
	text-align: center;
	padding-bottom: 30px;
}

.container1,
.container2 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	box-sizing: border-box;
	width: 100%;
}

.features {
	background-color: rgba(153, 153, 153, 0.151);
	padding: 30px 20px;
}

.feature {
	margin: 20px;
}

.image {
	height: auto;
	background-color: cadetblue;
	margin: 0 auto;
	transition: all 0.5s ease-in-out;
	width: 300px;
}

.image:hover {
	transform: scale(0.95);
	opacity: 0.5;
}

h2 {
	font-size: 2rem;
	text-align: center;
	color: rgb(70, 70, 70);
}

footer {
	background-color: #000;
	color: aliceblue;
	text-align: center;
	padding: 1.2rem 0;
	font-size: 14px;
}

.map {
	height: 380px;
	width: 100%;
}

.popup {
	background-color: black;
	color: white;
	border-radius: 5px;
	padding: 0.5rem;
	font-size: 1.3rem;
}

.popup:after {
	position: absolute;
	z-index: 1;
	display: block;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	content: '';
	top: 50%;
	right: 100%;
	transform: translateY(-50%);
	border-left-width: 0;
	border-right-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 800px) {
	header {
		height: 30vh;
	}

	header h1 {
		font-size: 3rem;
		line-height: 20vh;
		padding-top: 10vh;
	}

	.nav {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 0;
	}

	.nav__link {
		margin: 20px 5px 0px, 5px;
	}

	.nav__link--contact {
		margin: 20px 5px;
		padding: 2px 20px;
	}
}


@media (max-width: 487px) {
	header h1 {
		display: none;
	}

	header {
		height: 17vh;
	}

	.none {
		display: block;
		background-color: rgba(0, 0, 0, 50%);
		height: 17vh;
	}

	.nav__link {
		margin: 20px 5px 0px;
		letter-spacing: 2px;
	}


	.description {
		font-size: 1.2rem;
		padding: 15px 30px;
	}

}

@media (max-width: 356px) {
	.nav__link {
		letter-spacing: 2px;
	}

	.none {
		display: block;
		background-color: rgba(0, 0, 0, 50%);
		height: 20vh;
	}
}